* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Esto evita las barras de desplazamiento */
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  --webkit-font-smoothing: antialiased;
  background-color: black;
}

.work {
  width: 100%;
  height: 100dvh;
  text-align: center;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header {
  width: 100%;
  height: 100px;
  padding: 10px 10%;
  opacity: 0;
}

header h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

header > h1, header > h2 {
  margin: 0;
  text-align: left;
  font-weight: 400;
}

header > h2 {
  padding-top: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

footer {
  height: 40px;
  padding: 8px 0;
  width: 100%;
  opacity: 0;
}

canvas {
  display: block; /* Esto puede ayudar a eliminar cualquier espacio extra */
}

.absolute {
  position: absolute;
}

.miniapp {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: white;
  text-align: center;
  line-height: 2.25rem;
  width: 100%;
  max-width: 42rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.opacity-zero {
  opacity: 0;
}

.fs-web-dev {
  font-size: 3rem;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
}

#alex-basurto, #full-stack, #web-developer, #view-work {
  font-size: 1.875rem;
  transform: translateY(30px);
}

#alex-basurto {
  margin: 0;
  font-weight: 400;
}

#view-work {
  display: inline-block;
  margin-top: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'Syncopate', sans-serif;
  transition-duration: 0.3s;
}

#view-work:hover {
  background-color: white;
  color: rgb(31, 41, 55);
  transition-duration: 0.3s;
}

main {
  width: 100%;
  height: calc(100% - 140px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10%;
  justify-content: space-between;
}

.portfolio-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 24%;
  height: 600px;
  background-color: #282828; /* Color de fondo */
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  
}

.portfolio-box:hover {
  background-color: #333333;
}

.portfolio-box h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 60px auto 10px auto;
  padding: 0;
  text-shadow:
        2px 2px 2px rgba(255, 255, 255, 0.8),
        -1px -1px 2px rgba(255, 255, 255, 0.8),
        1px -1px 2px rgba(255, 255, 255, 0.8),
        -1px 1px 2px rgba(255, 255, 255, 0.8);
}

.portfolio-box a {
  color: yellow;
  font-weight: 700;
}

#box-4 p, #box-4 a {
  display: block;
  width: 100%;
}

.portfolio-box a:hover {
  text-shadow: white 0px 0px 10px;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

.portfolio-minibox {
  transition: opacity 0.5s, background-color 0.5s, color 0.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100%;
  color: white;
}

.portfolio-title {
  height: 10%;
  color: black;
}

#box-4 portfolio-txt {
  margin-top: 15px;
}

#box-4 p {
  padding-top: 20px;
  font-size: 20px;
}

#box-3 span {
  display: block;
  width: 100%;
  color: greenyellow;
}

#soft-skills {
  padding-top: 15px;
}

.portfolio-txt {
  height: 100%;
  opacity: 0;
  font-size: 14px;
}

/* Animación work */
#box-1, #box-2, #box-3, #box-4 {
  opacity: 0;
  transform: translate(200px, -80px)
}

.non-clickable {
  pointer-events: none;
}

@media (max-width: 768px) {
  .fs-web-dev {
    font-size: 1.6rem;
  }

  .portfolio-box {
    width: 100%;
  }

  body, html {
    overflow: auto;
  }

  main {
    height: auto;
  }

  .portfolio-txt {
    font-size: 12px;
  }
}