* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Esto evita las barras de desplazamiento */
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  --webkit-font-smoothing: antialiased;
  background-color: black;
}

canvas {
  display: block; /* Esto puede ayudar a eliminar cualquier espacio extra */
}

.absolute {
  position: absolute;
}

.miniapp {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.fs-web-dev {
  font-size: 3rem;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
}

#alex-basurto, #full-stack, #web-developer, #view-work {
  transform: translateY(30px);
}

@media (max-width: 768px) {
  .fs-web-dev {
    font-size: 1.6rem;
  }
}