* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Esto evita las barras de desplazamiento */
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  --webkit-font-smoothing: antialiased;
  background-color: black;
}

.work {
  width: 100%;
  height: 100dvh;
}

header {
  width: 100%;
  height: 100px;
  padding: 10px 10%;
}

header > h1, header > h2 {
  text-align: left;
}

header > h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: white;
}

footer {
  height: 40px;
  padding: 8px 0;
  width: 100%;
}

canvas {
  display: block; /* Esto puede ayudar a eliminar cualquier espacio extra */
}

.absolute {
  position: absolute;
}

.miniapp {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.fs-web-dev {
  font-size: 3rem;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
}

#alex-basurto, #full-stack, #web-developer, #view-work {
  transform: translateY(30px);
}

main {
  width: 100%;
  height: calc(100% - 140px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10%;
  justify-content: space-between;
}

.portfolio-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 24%;
  height: 500px;
  background-color: #282828; /* Color de fondo */
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  
}

.portfolio-box:hover {
  background-color: #333333;
}

.portfolio-box h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 60px auto 20px auto;
  padding: 0;
  text-shadow:
        2px 2px 2px rgba(255, 255, 255, 0.8),
        -1px -1px 2px rgba(255, 255, 255, 0.8),
        1px -1px 2px rgba(255, 255, 255, 0.8),
        -1px 1px 2px rgba(255, 255, 255, 0.8);
}

.portfolio-box a {
  color: yellow;
  font-weight: 700;
}

#box-4 p, #box-4 a {
  display: block;
  width: 100%;
}

.portfolio-box a:hover {
  text-shadow: white 0px 0px 10px;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

.portfolio-minibox {
  transition: opacity 0.5s, background-color 0.5s, color 0.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100%;
  color: white;
}

.portfolio-title {
  height: 15%;
  color: black;
}

.portfolio-txt {
  height: 100%;
  opacity: 0;
}

@media (max-width: 768px) {
  .fs-web-dev {
    font-size: 1.6rem;
  }

  .portfolio-box {
    width: 100%;
  }

  body, html {
    overflow: auto;
  }

  main {
    height: auto;
  }
}